<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card style="margin-top: 2.5rem;">
                    <div class="container text-center">
                         <h1>Welcome to Exam Portal</h1>
                         <p>Test yourself in this competetive era by taking free tests.</p>
                    </div>

                    <div class="container text-center">
                        <a routerLink="/login" mat-raised-button color="primary">Login</a>
                        <a routerLink="/signup" mat-raised-button color="accent" style="margin-left: 10px;">Register</a>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
